.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  color: white;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  height: 40px; 
  margin-right: auto; 
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon div {
  background-color: white;
  width: 25px;
  height: 3px;
}
